.header-logo-container {
  display: flex;
  gap: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;

  .cart-area {
    margin-left: auto;
    display: flex;
    gap: 8px;
  }

  .text-area {
    display: flex;
    flex-direction: column;
  }

  .text-meu-carrinho {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    margin: 0;
  }

  .text-quant-carrinho {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    opacity: 60%;
    margin-left: auto;
    margin-top: 2px;
  }

  .shopping-cart {
    display: flex;
    align-items: center;
  }
}
