.main-container {
  /* border: 2px solid #fff; */
  max-width: 940px;
  margin: 0 auto; /*deixar as bordas sem flex*/
  font-family: "Roboto", sans-serif;
}

.area-cards {
  display: flex;

  .cards-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 18px;
    align-items: center;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px 18px;
}

// #root{  declarar variável no css
//   background-color: red;
// }
