.main-container {
  max-width: 940px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.area-cards {
  display: flex;

  .cards-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 18px;
    align-items: center;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px 18px;
}
